
@{
    ViewBag.Title = "DashBoard";
}
<nav class="navbar navbar-inverse navbar-fixed-top" id="nav">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Health and Fitness - 360</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="#top">Heath Monitor</a></li>
            <li><a href="#energy">Energy Indicator</a></li>
            <li><a href="#energy">Menstrual Tracker </a></li>
            <li><a href="#regular">Regular Fitness</a></li>
            <li><a href="#pregnancy">Pregnancy Tracker</a></li>
            <li><a href="#symptoms">Medication Tracker</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Welcome @ViewBag.Name </ a ></ li >
            <li><a href="#" onclick="LogoutFn()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
    </div>
</nav>


<h2 style="text-align:center" id="top">Welcome to your All in One Portal</h2>
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
<div class="jumbotron">
    <h3 style="text-align:center">Heath Monitor through BMI</h3>
    <h5>BMI = @ViewBag.BMI</h5>
    <table style="width:100%;table-layout: fixed">
        <tr style="font-size:15px">
            <td style="visibility:hidden" id="1">You are here: <i class="arrow down"></i></td>
            <td style="visibility:hidden" id="2">You are here: <i class="arrow down"></i></td>
            <td style="visibility:hidden" id="3">You are here: <i class="arrow down"></i></td>
            <td style="visibility:hidden" id="4">You are here: <i class="arrow down"></i></td>
            <td style="visibility:hidden" id="5">You are here: <i class="arrow down"></i></td>
            <td style="visibility:hidden" id="6">You are here: <i class="arrow down"></i></td>
            <td style="visibility:hidden" id="7">You are here: <i class="arrow down"></i></td>
            <td style="visibility:hidden" id="8">You are here: <i class="arrow down"></i></td>
        </tr>
        <tr style="font-size:15px">
            <td style="background-color:red">Severe Thinness</td>
            <td style="background-color:darkorange">Moderate Thinness</td>
            <td style="background-color:orange">Mild Thinness</td>
            <td style="background-color:yellow">Healthy</td>
            <td style="background-color:orange">Overweight</td>
            <td style="background-color:darkorange">Obese Class I</td>
            <td style="background-color:red">Obese Class II</td>
            <td style="background-color:red">Obese Class III</td>
        </tr>
    </table>
</div>

<table style="width:100%" id="energy">
    <tr>
        <td style="width:45%">
            <div class="jumbotron">
                Energy Indicator
                <h5>Calories: @ViewBag.Calories</h5>
                <h5>@ViewBag.NeedCalories</h5>
                @using (Html.BeginForm("EnergyIndicator", "Home", FormMethod.Post))
                {
                    //@Html.ValidationSummary()
                    @Html.AntiForgeryToken()

                    <div class="card">
                        <div class="card-body">
                            <div class="form-group">
                                @Html.Label("FoodItems", labelText: "Food Items", htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownList("FoodItems", ViewBag.FoodItems as SelectList, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                @Html.Label("Amount", htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownList("Amount", ViewBag.Amount as SelectList, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <input type="submit" name="submit" class="btn btn-primary button button4" style="background-color:#222" value="Add" />
                            </div>
                        </div>
                    </div>

                }

            </div>
        </td>
        <td style="width:1%"> </td>
        <td style="width:54%">
            <div class="jumbotron">
                Menstrual cycle and fertility tracker
                <table>
                    <tr>
                        <td><h5>Menstrual Start Date: @ViewBag.MenstrualStartDate</h5></td>
                        <td><h5>Monthly Cycle Durarion: @ViewBag.MensturalCycleDuration</h5></td>
                        <td><h5>Fertility Days: @ViewBag.FertilityDays</h5></td>
                    </tr>
                </table>
                <h5>Today is @ViewBag.TodayDay day of your menstrual cycle and @ViewBag.LeftDay days are left for upcoming Menstrual Cycle</h5>
                @using (Html.BeginForm("MenstrualAndFertilityTracker", "Home", FormMethod.Post))
                {
                    //@Html.ValidationSummary()
                    @Html.AntiForgeryToken()

                    <div class="card">
                        <div class="card-body">
                            <div class="form-group">
                                @Html.Label("MenstrualStartDate", labelText: "Menstrual Start Date", htmlAttributes: new { @class = "control-label" })
                                @Html.TextBox("MenstrualStartDate", "{0:d MMM yyyy}", new { @class = "form -control", @Value = DateTime.Today.Date.ToString("dd.MM.yyyy") })
                            </div>
                            <div class="form-group">
                                @Html.Label("MonthlyCycle", labelText: "Monthly Cycle", htmlAttributes: new { @class = "control-label" })
                                @Html.TextBox("MonthlyCycle", 28, htmlAttributes: new { @class = "form-control", @type = "number" })
                            </div>
                            <div class="form-group">
                                <input type="submit" name="submit" class="btn btn-primary button button4" style="background-color:#222" value="Update" />
                            </div>
                        </div>
                    </div>

                }



            </div>
        </td>
    </tr>
</table>
<div class="jumbotron" id="regular">
    <h3 style="text-align:center">Regular Fitness </h3>
    <br />
    <table style="width:100%;table-layout: fixed">
        <tr style="font-size:15px">
            <td>
                <h4>6 benefits of regular physical activity</h4>
                <ol>
                    <li>Exercise controls weight</li>
                    <li>Exercise combats health conditions and diseases</li>
                    <li>Exercise improves mood</li>
                    <li>Exercise boosts energy</li>
                    <li>Exercise promotes better sleep</li>
                    <li>Exercise can be fun … and social!</li>
                </ol>
            </td>
            <td id="Plan1">
                <h4>We have customized this video tutorial based upon your heath and food intake</h4>

                <iframe type="text/html" width="100%" height="200px" src=@ViewBag.Workout frameborder="0"></iframe>
            </td>
        </tr>

    </table>
</div>
<div class="jumbotron" id="pregnancy">
    <h3 style="text-align:center">Pregnancy Tracker </h3>
    <br />
    <table style="width:100%;table-layout: fixed">
        <tr style="font-size:15px">
            <td id="Plan1">
                <h4>We have cutomized the workout videos according to your current pregnancy stage.</h4>
                <iframe type="text/html" width="90%" height="200px" src=@ViewBag.PregnancyWorkout frameborder="0"></iframe>
            </td>
            <td>
                <h4>@ViewBag.PregnancyWeek week of your Pregnancy is going on. @ViewBag.PregnancyWeekLeft weeks more to go.</h4>
                @using (Html.BeginForm("PregnancyTracker", "Home", FormMethod.Post))
                {
                    //@Html.ValidationSummary()
                    @Html.AntiForgeryToken()

                    <div class="card">
                        <div class="card-body">
                            <div class="form-group">
                                @Html.Label("PregnancyDate", labelText: "Pregnancy Start Date", htmlAttributes: new { @class = "control-label" })
                                @Html.TextBox("PregnancyDate", "{0:d MMM yyyy}", new { @class = "form -control", @Value = DateTime.Today.Date.ToString("dd.MM.yyyy") })
                            </div>
                            <div class="form-group">
                                <input type="submit" name="submit" class="btn btn-primary button button4" style="background-color:#222" value="Update" />
                            </div>
                        </div>
                    </div>

                }
            </td>
        </tr>

    </table>
</div>
<div class="jumbotron" id="symptoms">
    <h3 style="text-align:center">Symptoms/Diseases/Medication Tracker</h3>
    <h4>Search for Symptoms/Diseases </h4>

    @using (Html.BeginForm("SearchSymptom", "Home", FormMethod.Post))
    {
        //@Html.ValidationSummary()
        @Html.AntiForgeryToken()

        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    @Html.TextBox("Symptoms", "", new { @class = "form -control" })
                </div>
                <div class="form-group">
                    <input type="submit" name="submit" class="btn btn-primary button button4" style="background-color:#222" value="Search" />
                </div>
            </div>
        </div>

    }
    <h4>@ViewBag.Details</h4>


</div>

<div class="jumbotron">
    <h3>Comming Soon...</h3>
    <ol>
        <li>dietplan</li>
        <li>search symptom medication</li>
        <li>SOS and Doctor consult</li>
        <li>Karate/ self defence exercise</li>
        <li>weekly progress</li>
        <li>Fitness band integration</li>
        <li>Distance Tracking and warning</li>
        <li>Fitness band integration</li>
        <li>Medicine tracking</li>
        <li>Specific allergy related</li>
        <li>comments</li>
        <li>deployment</li>
        <li>local db</li>
        <li>quotes</li>
        <li>checkbox end of registration</li>
    </ol>


</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
    document.getElementById(@ViewBag.Status).style.visibility = "visible";
        $(document).ready(function () {
            $('#nav .navbar-nav li>a').on('click', function (event) {
                event.preventDefault();
                var sectionID = $(this).attr("href");

                    scrollToID(sectionID, 1000);
                    var current = document.getElementsByClassName("active");
                    current[0].className = current[0].className.replace(" active", "");
                    $(this).className += " active";

            });

            function scrollToID(id, speed) {
                var offSet = 70;
                var targetOffset = $(id).offset().top - offSet;
                $('html,body').animate({ scrollTop: targetOffset }, speed);
            }

    });

    function LogoutFn() {
        window.location = "/Home/Index/";
    }

</script>

<style>
    .arrow {
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
    }

    .down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
</style>
