@{
    ViewBag.Title = "DashBoard";
}

<nav class="navbar navbar-expand-lg navbar-inverse navbar-fixed-top" id="nav">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Health and Fitness - 360</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="#top">Heath Monitor</a></li>
            <li><a href="#energy">Energy Indicator/Menstrual Tracker </a></li>
            <li><a href="#regular">Regular Fitness</a></li>
            <li><a href="#pregnancy">Pregnancy Tracker</a></li>
            <li><a href="#symptoms">Medication Tracker</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Welcome @ViewBag.Name </ a ></ li >
            <li><a href="#" onclick="LogoutFn()"><span class="glyphiconyphicon-log-out"></span> Logout</a></li>
        </ul>
    </div>
</nav>

<h1 style="text-align:center; position:relative" id="top">Women's Health and Fitness Tracker</h1>
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
<div class="jumbotron">
    <h2 style="text-align:center">Heath Monitor through BMI</h2>
    <h5>Your BMI = <b>@ViewBag.BMI</b></h5>
    <table style="width:100%;table-layout: fixed">
        <tr style="font-size:15px; text-align:center">
            <td style="visibility:hidden" id="1">You are here: <i class="arrow down"></i></td>
            <td style="visibility:hidden" id="2">You are here: <i class="arrow down"></i></td>
            <td style="visibility:hidden" id="3">You are here: <i class="arrow down"></i></td>
            <td style="visibility:hidden" id="4">You are here: <i class="arrow down"></i></td>
            <td style="visibility:hidden" id="5">You are here: <i class="arrow down"></i></td>
            <td style="visibility:hidden" id="6">You are here: <i class="arrow down"></i></td>
            <td style="visibility:hidden" id="7">You are here: <i class="arrow down"></i></td>
            <td style="visibility:hidden" id="8">You are here: <i class="arrow down"></i></td>
        </tr>
        <tr style="font-size:15px; text-align:center">
            <td style="background-color:#ff4040">Severe Thinness</td>
            <td style="background-color:#ff8026">Moderate Thinness</td>
            <td style="background-color:#ff944c">Mild Thinness</td>
            <td style="background-color:#70db70">Healthy</td>
            <td style="background-color:#ff944c">Overweight</td>
            <td style="background-color:#ff8026">Obese Class I</td>
            <td style="background-color:#FF5C3D">Obese Class II</td>
            <td style="background-color:#ff4040">Obese Class III</td>
        </tr>
    </table>
    <br />
    @using (Html.BeginForm("HealthMonitor", "Home", FormMethod.Post))
    {
    //@Html.ValidationSummary()
    @Html.AntiForgeryToken()
    <table style="width:100%;table-layout: fixed">
        <tr>
            <td style="width:3%"></td>
            <td style="width:15%">
                @Html.Label("Height", labelText: "Enter Height(m)", htmlAttributes: new { @class = "control-label" })
            </td>
            <td style="width:25%">
                @Html.TextBox("Height", "", htmlAttributes: new { @class = "form-control", placeholder = "Enter your Height" })
            </td>
            <td style="width:3%"></td>
            <td style="width:15%">
                @Html.Label("Weight", labelText: "Enter Weight(kg)", htmlAttributes: new { @class = "control-label" })
            </td>
            <td style="width:25%">
                @Html.TextBox("Weight", "", htmlAttributes: new { @class = "form-control", placeholder = "Enter your Weight" })
            </td>
            <td style="width:3%"></td>
            <td>
                <input type="submit" name="submit" class="btn btn-primary button button4" style="background-color:#222" value="Update" />
            </td>
        </tr>
    </table>
    }

</div>

<table style="width:100%" id="energy">
    <tr>
        <td style="width:45%">
            <div class="jumbotron">
                <h2>Energy Indicator</h2>
                <h5>Calories: <b>@ViewBag.Calories</b></h5>
                <h5>@ViewBag.NeedCalories</h5>
                @using (Html.BeginForm("EnergyIndicator", "Home", FormMethod.Post))
                {
                //@Html.ValidationSummary()
                @Html.AntiForgeryToken()
                <table style="width:100%;table-layout: fixed">
                    <tr>
                        <td style="width:40%">
                            @Html.Label("FoodItems", labelText: "Food Items", htmlAttributes: new { @class = "control-label" })
                        </td>
                        <td style="width:60%">
                            @Html.DropDownList("FoodItems", ViewBag.FoodItems as SelectList, new { @class = "form-control" })
                        </td>
                    </tr>
                    <tr>
                        <td style="width:40%">
                            @Html.Label("Amount", htmlAttributes: new { @class = "control-label" })
                        </td>
                        <td style="width:60%">
                            @Html.DropDownList("Amount", ViewBag.Amount as SelectList, new { @class = "form-control" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" name="submit" class="btn btn-primary button button4" style="background-color:#222" value="Add" />
                        </td>
                    </tr>
                </table>

                }

            </div>
        </td>
        <td style="width:1%"> </td>
        <td style="width:54%">
            <div class="jumbotron">
                <h2>Menstrual cycle and fertility tracker</h2>
                <table>
                    <tr>
                        <td><h5>Menstrual Start Date: <b>@ViewBag.MenstrualStartDate</b></h5></td>
                        <td><h5>Monthly Cycle Durarion: <b>@ViewBag.MensturalCycleDuration</b></h5></td>
                        <td><h5>Fertility Days: <b>@ViewBag.FertilityDays</b></h5></td>
                    </tr>
                </table>
                <h5>Today is <b>@ViewBag.TodayDay</b> day of your menstrual cycle and <b>@ViewBag.LeftDay</b> days are left for upcoming Menstrual Cycle</h5>
                @using (Html.BeginForm("MenstrualAndFertilityTracker", "Home", FormMethod.Post))
                {
                //@Html.ValidationSummary()
                @Html.AntiForgeryToken()
                <table style="width:100%;table-layout: fixed">
                    <tr>
                        <td style="width:50%">
                            @Html.Label("MenstrualStartDate", labelText: "Menstrual Start Date", htmlAttributes: new { @class = "control-label" })
                        </td>
                        <td style="width:50%">
                            @Html.TextBox("MenstrualStartDate", "{0:d MMM yyyy}", new { @class = "form -control", @Value = DateTime.Today.Date.ToString("dd.MM.yyyy") })
                        </td>
                    </tr>
                    <tr>
                        <td style="width:50%">
                            @Html.Label("MonthlyCycle", labelText: "Monthly Cycle", htmlAttributes: new { @class = "control-label" })
                        </td>
                        <td style="width:50%">
                            @Html.TextBox("MonthlyCycle", 28, htmlAttributes: new { @class = "form-control", @type = "number" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" name="submit" class="btn btn-primary button button4" style="background-color:#222" value="Update" />
                        </td>
                    </tr>
                </table>

                }
            </div>
        </td>
    </tr>
</table>
<div class="jumbotron" id="regular">
    <h2 style="text-align:center">Regular Fitness </h2>
    <br />
    <table style="width:100%;table-layout: fixed">
        <tr style="font-size:15px">
            <td>
                <h4>6 benefits of regular physical activity</h4>
                <ol>
                    <li>Exercise controls weight</li>
                    <li>Exercise combats health conditions and diseases</li>
                    <li>Exercise improves mood</li>
                    <li>Exercise boosts energy</li>
                    <li>Exercise promotes better sleep</li>
                    <li>Exercise can be fun … and social!</li>
                </ol>
            </td>
            <td id="Plan1">
                <h4>We have customized this video tutorial based upon your heath and food intake</h4>

                <iframe type="text/html" width="100%" height="200px" src=@ViewBag.Workout frameborder="0"></iframe>
            </td>
        </tr>

    </table>
</div>
<div class="jumbotron" id="pregnancy">
    <h2 style="text-align:center">Pregnancy Tracker </h2>
    <br />
    <table style="width:100%;table-layout: fixed">
        <tr style="font-size:15px">
            <td id="Plan1">
                <h4>We have cutomized the workout videos according to your current pregnancy stage.</h4>
                <iframe type="text/html" width="90%" height="200px" src=@ViewBag.PregnancyWorkout frameborder="0"></iframe>
            </td>
            <td>
                <h4>@ViewBag.PregnancyWeek week of your Pregnancy is going on. @ViewBag.PregnancyWeekLeft weeks more to go.</h4>
                @using (Html.BeginForm("PregnancyTracker", "Home", FormMethod.Post))
                {
                //@Html.ValidationSummary()
                @Html.AntiForgeryToken()

                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            @Html.Label("PregnancyDate", labelText: "Pregnancy Start Date", htmlAttributes: new { @class = "control-label" })
                            @Html.TextBox("PregnancyDate", "{0:d MMM yyyy}", new { @class = "form -control", @Value = DateTime.Today.Date.ToString("dd.MM.yyyy") })
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" class="btn btn-primary button button4" style="background-color:#222" value="Update" />
                        </div>
                    </div>
                </div>

                }
            </td>
        </tr>

    </table>
</div>
<div class="jumbotron" id="searchsymptoms">
    <h2 style="text-align:center">Search for Symptoms/Diseases</h2>
    <table style="width:100%;table-layout: fixed">
        <tr>
            <td>
                <h4>Search for Symptoms/Diseases </h4>

                @using (Html.BeginForm("SearchSymptom", "Home", FormMethod.Post))
                {
                //@Html.ValidationSummary()
                @Html.AntiForgeryToken()

                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            @Html.TextBox("Symptoms", "", new { @class = "form -control" })
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" class="btn btn-primary button button4" style="background-color:#222" value="Search" />
                        </div>
                    </div>
                </div>

                }
            </td>
            <td>

                <table>
                    <tr>
                        <td>Symptom/Disease Name:</td>
                        <td>@ViewBag.SymptomName</td>
                    </tr>
                    <tr>
                        <td>Medication:</td>
                        <td>@ViewBag.Medication</td>
                    </tr>
                </table>

            </td>
            <td>
                <table>
                    <tr>
                        <td>Test:</td>
                        <td>@ViewBag.Test</td>
                    </tr>
                    <tr>
                        <td>Cure:</td>
                        <td>@ViewBag.Cure</td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>
</div>
<div class="jumbotron" id="symptoms">
<h2 style="text-align:center">Medication Tracker</h2>
<table style="width:100%;table-layout: fixed">
    <tr>
        <td style="width:100%;">
            <h4>@ViewBag.Medication1</h4>
            <h4>@ViewBag.Medication2</h4>
            @using (Html.BeginForm("MedicationTracker", "Home", FormMethod.Post))
            {
            @Html.AntiForgeryToken()
            <table style="width:100%;">
                <tr>
                    <td>
                        @Html.Label("Medication1", labelText: "Medicine 1 Name", htmlAttributes: new { @class = "control-label" })
                    </td>
                    <td>
                        @Html.TextBox("Medication1", "", htmlAttributes: new { @class = "form-control" })
                    </td>
                    <td>
                        @Html.Label("Medication2", labelText: "Medicine 2 Name", htmlAttributes: new { @class = "control-label" })
                    </td>
                    <td>
                        @Html.TextBox("Medication2", "", htmlAttributes: new { @class = "form-control" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.Label("StartDateM1", labelText: "Medication 1 Start Date", htmlAttributes: new { @class = "control-label" })
                    </td>
                    <td>
                        @Html.TextBox("StartDateM1", "{0:d MMM yyyy}", new { @class = "form -control", @Value = DateTime.Today.Date.ToString("dd.MM.yyyy") })
                    </td>
                    <td>
                        @Html.Label("StartDateM2", labelText: "Medication 2 Start Date", htmlAttributes: new { @class = "control-label" })
                    </td>
                    <td>
                        @Html.TextBox("StartDateM2", "{0:d MMM yyyy}", new { @class = "form -control", @Value = DateTime.Today.Date.ToString("dd.MM.yyyy") })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.Label("DurationM1", labelText: "Duration of Medicine 1", htmlAttributes: new { @class = "control-label" })
                    </td>
                    <td>
                        @Html.TextBox("DurationM1", 0, htmlAttributes: new { @class = "form-control", @type = "number" })
                    </td>
                    <td>
                        @Html.Label("DurationM2", labelText: "Duration of Medicine 2", htmlAttributes: new { @class = "control-label" })
                    </td>
                    <td>
                        @Html.TextBox("DurationM2", 0, htmlAttributes: new { @class = "form-control", @type = "number" })
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" name="submit" class="btn btn-primary button button4" style="background-color:#222" value="Update" />
                    </td>
                </tr>
            </table>
            }
        </td>
    </tr>

</table>

</div>



<div class="jumbotron">
    <h2>Comming Soon...</h2>
    <ol>
        <li>SOS and Doctor consult</li>
        <li>Fitness band integration</li>
        <li>Karate/ self defence exercise</li>
        <li>dietplan</li>
        <li>weekly progress</li>
        <li>Distance Tracking and warning</li>
        <li>comments</li>
        <li>local db</li>
        <li>quotes</li>
    </ol>


</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
    document.getElementById(@ViewBag.Status).style.visibility = "visible";
    $(document).ready(function () {
        if (window.performance && window.performance.navigation.type == window.performance.navigation.TYPE_BACK_FORWARD) {
            window.location = "/Home/Index/";
        }
            $('#nav .navbar-nav li>a').on('click', function (event) {
                event.preventDefault();
                var sectionID = $(this).attr("href");

                    scrollToID(sectionID, 1000);
                    var current = document.getElementsByClassName("active");
                    current[0].className = current[0].className.replace(" active", "");
                    $(this).className += " active";

            });

            function scrollToID(id, speed) {
                var offSet = 70;
                var targetOffset = $(id).offset().top - offSet;
                $('html,body').animate({ scrollTop: targetOffset }, speed);
            }

    });

    function LogoutFn() {
        window.location = "/Home/Logout/";
    }
</script>

<style>
    .arrow {
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
    }

    .down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
</style>
